<launch>
  <!-- load ik -->
  <include file="$(find pr2_arm_navigation_kinematics)/launch/pr2_ik_rarm_node.launch"/>
  <include file="$(find pr2_arm_navigation_kinematics)/launch/pr2_ik_larm_node.launch"/>
    <node name="cartesian_ik_trajectory_executor_r" pkg="pr2lib" type="ik_r"/>
    <node name="cartesian_ik_trajectory_executor_l" pkg="pr2lib" type="ik_l"/>
</launch>
